TELEGRAM_BOT_TOKEN=8688546880:AAF3iyXXOs8FrUCYGMUkTOX2wlyCUIEf40Y
BIZINFO_API_KEY=q878jn
KSTARTUP_API_KEY=1e0493d22e809d0ed97ade3f9fce796a2ea6bfb489bee66eb8bbe898b8a407a3
OPENAI_API_KEY=your_openai_api_key_here
